.user-card {
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: -50px;
  }
  
  .user-card a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .user-card a:hover {
    color: #ffffff;
  }
  